body{
    background-color: rgb(190, 161, 218);
}
.accordion{
    width: 100%;
  }

  .accordion-item {
    margin-bottom: 10px;
  }
  
  .accordion-title {
    color: #fff;
    background-color: #79a4cc;
    cursor: pointer;
    padding: 10px;
    transition: background-color 1s;
    border-radius: 20px;
  }
  
  .accordion-title:hover {
    background-color: bisque;
  }
  
  .accordion-content {
    background: lightgoldenrodyellow;
    display: none;
    padding: 10px;
  }
  
      .accordion-item.active .accordion-content{
        display: block;
      }